@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Fine Payed Successfully!</h1>
        Your operation number is : @Model <br/><br/>
        <img src="~/images/lawn_leaf.jpg" width="65%" alt="lawn_leaf"/>
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br/>
        Your fine has been payed successfully! <br/>
    </div>

</div>